In [14]:
#Creating the default Dataframe
import pandas as pd 
import numpy as np 
import pandas_profiling
import datetime
from geopy.geocoders import Nominatim
import re
from coordinates_function import grabCoordinates

#Original file 
xlsx_path = '/Users/chrisrios/Desktop/Data_science/airbnb_post_merge/Airbnb_Project/zillow_data/Zillow_Austin_housing.xlsx'

#Making the Dataframe
zillow_df = pd.read_excel(xlsx_path)

#output the dataframe
print(zillow_df)

      ID                                               File    city stateCode  \
0      0  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
1      1  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
2      2  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
3      3  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
4      4  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
...   ..                                                ...     ...       ...
1226  26  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
1227  27  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
1228  28  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
1229  29  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX
1230  30  <_io.TextIOWrapper name='/Users/bhava/Desktop/...  Austin        TX

      zipCode                           fullLocation      partialLocation  \
0       78748    Messinger Village, Austin, TX 78748    Messinger Village
1       78727      8511 Cumbria Ln, Austin, TX 78727      8511 Cumbria Ln
2       78724           East Parke, Austin, TX 78724           East Parke
3       78744  7725 Ellas Inlet Dr, Austin, TX 78744  7725 Ellas Inlet Dr
4       78744     8216 Talferd Trl, Austin, TX 78744     8216 Talferd Trl
...       ...                                    ...                  ...
1226    78702       2938 E 12th St, Austin, TX 78702       2938 E 12th St
1227    78758    1417 Kramer Ln #6, Austin, TX 78758    1417 Kramer Ln #6
1228    78723     6509 Ashland Cir, Austin, TX 78723     6509 Ashland Cir
1229    78741     2101 Thrasher Ln, Austin, TX 78741     2101 Thrasher Ln
1230    78758   1417 Kramer Ln #20, Austin, TX 78758   1417 Kramer Ln #20

                                            coordinates       price  \
0     {'latitude': 30.169666, 'longitude': -97.81633...   $604,990+
1     {'latitude': 30.167301, 'longitude': -97.69487...    $582,406
2     {'latitude': 30.306007, 'longitude': -97.65784...   $556,990+
3     {'latitude': 30.148088, 'longitude': -97.71072...    $743,984
4     {'latitude': 30.146832, 'longitude': -97.71106...    $511,605
...                                                 ...         ...
1226  {'latitude': 30.276512, 'longitude': -97.70513...  $1,150,000
1227  {'latitude': 30.383001, 'longitude': -97.69890...    $444,900
1228  {'latitude': 30.30755, 'longitude': -97.665909...    $365,000
1229  {'latitude': 30.22196, 'longitude': -97.70047,...    $370,000
1230  {'latitude': 30.383001, 'longitude': -97.69890...    $549,900

                                             floorSpace  \
0     {'formattedDimension': '2,013 sqft', '__typena...
1     {'formattedDimension': '2,274 sqft', '__typena...
2     {'formattedDimension': '2,235 sqft', '__typena...
3     {'formattedDimension': '2,981 sqft', '__typena...
4     {'formattedDimension': '1,518 sqft', '__typena...
...                                                 ...
1226                                                NaN
1227  {'formattedDimension': '2,104 sqft', '__typena...
1228  {'formattedDimension': '1,643 sqft', '__typena...
1229  {'formattedDimension': '976 sqft', '__typename...
1230  {'formattedDimension': '2,600 sqft', '__typena...

                                               bedrooms  \
0     {'formattedValue': '4bd', '__typename': 'HOME_...
1     {'formattedValue': '4bd', '__typename': 'HOME_...
2     {'formattedValue': '3bd', '__typename': 'HOME_...
3     {'formattedValue': '4bd', '__typename': 'HOME_...
4     {'formattedValue': '2bd', '__typename': 'HOME_...
...                                                 ...
1226                                                NaN
1227  {'formattedValue': '3bd', '__typename': 'HOME_...
1228  {'formattedValue': '4bd', '__typename': 'HOME_...
1229  {'formattedValue': '2bd', '__typename': 'HOME_...
1230  {'formattedValue': '3bd', '__typename': 'HOME_...

                                              bathrooms
0     {'formattedValue': '3ba', '__typename': 'HOME_...
1     {'formattedValue': '3ba', '__typename': 'HOME_...
2     {'formattedValue': '3ba', '__typename': 'HOME_...
3     {'formattedValue': '3ba', '__typename': 'HOME_...
4     {'formattedValue': '2ba', '__typename': 'HOME_...
...                                                 ...
1226                                                NaN
1227  {'formattedValue': '4ba', '__typename': 'HOME_...
1228  {'formattedValue': '2ba', '__typename': 'HOME_...
1229  {'formattedValue': '1ba', '__typename': 'HOME_...
1230  {'formattedValue': '3ba', '__typename': 'HOME_...

[1231 rows x 12 columns]

In [2]:
#rename columns to have no spaces
zillow_df.rename(columns = 
   {
    'Bedroom':'num_bedrooms', 
    'Bathroom':'num_bathrooms', 
    'Sqft':'sqft',
    'Zestimate':'home_price',
    'Address':'street_address',
    'City':'city',
    'Zip Code':'zipcode', 
    'latestPrice':'rent_price',
    'Latest_salemonth':'latest_salemonth'}, inplace = True)

In [3]:
#Data Validation 

#Remove text from bedrooms
zillow_df['num_bedrooms'] =  zillow_df['num_bedrooms'].str.replace('bd', '')

#Getting rid of blank spaces 
try:
    zillow_df['city'] = zillow_df['city'].str.strip()
except: print("City column already deleted")

#Change weird characters to NaNs
zillow_df = zillow_df.replace('--', np.NaN)
zillow_df = zillow_df.replace(' --', np.NaN)

#replacing empty number fields with NaN
zillow_df['rent_price'] = zillow_df['rent_price'].replace(' ', np.NaN)
zillow_df['num_bathrooms'] = zillow_df['num_bathrooms'].replace(' ', np.NaN)
zillow_df['num_bedrooms'] = zillow_df['num_bedrooms'].replace(' ', np.NaN)
zillow_df['home_price'] = zillow_df['home_price'].replace(' ', np.NaN)
zillow_df['sqft'] = zillow_df['sqft'].replace(' ', np.NaN)
zillow_df['rent_price'] = zillow_df['rent_price'].replace(' ', np.NaN)

#Cleaning up rent 
zillow_df['rent_price'] = zillow_df['rent_price'].replace("$","")
zillow_df['rent_price'] = zillow_df['rent_price'].replace(",","")

#Move high rent prices to the home prices (misconfigured originally)
for index,row in zillow_df.iterrows():
      #Grabbing the original string
      if zillow_df.loc[index , 'rent_price'] > 50000:
            rent_string = zillow_df.loc[index , 'rent_price']
            zillow_df.loc[index,'home_price'] = rent_string
            zillow_df.loc[index,'rent_price'] = np.NaN

#Drop NaNs that cant be interpolated
zillow_df.dropna(subset='num_bathrooms',inplace=True)

#Replace missing sqft with NaN
zillow_df['sqft'].fillna(np.nan)

#Drop bad years (1900)
zillow_df.drop(zillow_df.index[zillow_df['latest_saleyear'] == 1900], inplace = True)



#Drop Non Austin Cities 
"""
Drop all cities that arent Austin 
    -everything after drop is the criteria
    -df.index selects 
"""
try:
    zillow_df.drop(zillow_df[zillow_df['city'] != "Austin"].index, inplace=True)
except:
    print("city column already deleted")

#Drop irrelevent columns 
try:
    zillow_df.drop(columns=['city','Acres', 'numPriceChange','State','rent_price'],inplace=True)
except: print("The columns have already been deleted")

In [4]:
# Change repetitive data into Categories (efficiency)
def convertToCategory(*args):
    for col in args:
        zillow_df[col] = zillow_df[col].astype('category')

def convertToFloat(*args):
    for col in args:
        zillow_df[col] = zillow_df[col].astype('float64')

#Convert dates to Datetime DT
def convertToDt(*args):
    for arg in args:
        zillow_df[arg] = pd.to_datetime(zillow_df[arg])

def replaceCharacters(*args, column, newvalue):
    """Replaces x strings of characters, takes column and the new value to replace the values with """
    for oldvalue in args:
        zillow_df[column] = zillow_df[column].replace(oldvalue,newvalue)

convertToFloat('num_bedrooms','num_bathrooms','sqft')

In [5]:
#Round Bathrooms
bathlambda = lambda bath : round(bath * 2) / 2
zillow_df['num_bathrooms'] = bathlambda(zillow_df['num_bathrooms'])

In [6]:
#Data Interpolation

In [8]:
#Create Square footage bins
zillow_df['sqft_bins'] = pd.cut(zillow_df['sqft'], 10)

In [9]:
#Count missing bedrooms
Nanbedrooms = zillow_df['num_bedrooms'].isna().sum()
print("There were " + str(Nanbedrooms) + " missing bedrooms")

#fill Bedrooms based on bathrooms + zipcode
zillow_df['num_bedrooms'] = zillow_df.groupby(['sqft_bins', 'num_bathrooms']).num_bedrooms.bfill()
zillow_df['num_bedrooms'] = zillow_df.groupby(['sqft_bins', 'num_bathrooms']).num_bedrooms.ffill()

Nanbedrooms = zillow_df['num_bedrooms'].isna().sum()
print("After backfilling there are now " + str(Nanbedrooms) + " missing bedrooms")

There were 902 missing bedrooms
After backfilling there are now 9 missing bedrooms

In [10]:
#Drop the remaining missing
zillow_df['num_bedrooms'].dropna(inplace=True)
zillow_df['sqft'].dropna(inplace=True)

In [11]:
#Samuel told me to rather drop this column. IGNORE

    #Count missing rents
    #nanRent = zillow_df['rent_price'].isna().sum()
    #print("There were " + str(nanRent) + " missing rent")

    ##fill Rent based on closest column that shares bathrooms + zipcode + Bedrooms
    #zillow_df['rent_price'] = zillow_df.groupby(['sqft', 'num_bedrooms']).rent_price.bfill()
    #nanRent = zillow_df['rent_price'].isna().sum()
    #print("After backfilling there are now " + str(nanRent) + " missing rent")

In [ ]:
#reorder Dataframe
zillow_df = zillow_df[[
    'street_address', 
    'latitude',
    'longitude',
    'zipcode' , 
    'num_bedrooms', 
    'num_bathrooms', 
    'home_price' , 
    'latest_saledate',
    'latest_salemonth',
    'latest_saleyear',
    'URL'
    ]]

In [ ]:
#Check Data Types
zillow_df.dtypes

street_address       object
zipcode               int64
num_bedrooms        float64
num_bathrooms       float64
home_price          float64
latest_saledate       int64
latest_salemonth      int64
latest_saleyear       int64
URL                  object
dtype: object

In [ ]:
def generate_Report():
    #Generate the profile Report
    profile = pandas_profiling.ProfileReport(zillow_df, title = "Zillow Profiling Report") 
    #Display within the notebook
    profile.to_notebook_iframe()

#generate_Report()

In [47]:
    zillow_df.to_csv('/Users/chrisrios/Desktop/Data_science/Airbnb_Project/zillow_data/cleaned_zillow_sales.csv')